.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
.main {
  flex: 1 0 auto;
  width: 88.8%;
  display: flex;
  justify-content: center;
}
.wrapper {
  text-align: center;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
}
.senderInfo {
  background-color: #efedf1;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.senderInfo.bank {
  text-align: left;
}
.receiver {
  font-size: 1rem;
  font-weight: 600;
}
.receiverAccount {
  font-size: 0.813rem;
  color: var(--sub-text);
}
.amount {
  font-size: 2rem;
  font-weight: 600;
}
.amount.empty {
  color: var(--sub-text);
}
.invalid {
  color: var(--warning);
}
.description {
  color: var(--sub-text);
}
