.container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  align-items: center;
  main {
    height: 100%;
    width: calc(100% - 2.5em);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    p {
      text-align: center;
    }
    ul {
      width: 100%;
      li {
        display: flex;
        justify-content: space-between;
        span:nth-child(1) {
          font-size: 1rem;
          color: var(--sub-text);
        }
        span:nth-child(2) {
          color: var(--black);
        }
      }
    }
  }
}
.msg {
  font-size: 2rem;
  font-weight: 600;
}

.name {
  color: var(--primary-color);
  font-weight: 600;
}
.btn-wrapper {
  width: calc(100% - 2.5rem);
  margin-bottom: 1rem;
}
