.main {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  align-items: center;
  justify-content: center;
}
.icon {
  margin: 50% auto 3.6875rem auto;
}

.msg {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 12rem;
}

.name {
  color: var(--primary-color);
  font-weight: 600;
}

.btn {
  position: absolute;
  width: 90%;
  bottom: 2%;
}
