.container {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  height: 100vh;
  text-align: center;
  align-items: center;

  h1 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .imageBox {
    margin-top: 5.063rem;
    margin-bottom: 2.25rem;
    width: 7.5rem;
    height: 7.5rem;
  }
  .textBox {
    margin-top: 10%;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
  }
}
.facilityContainer {
  border-radius: 0.75rem;
  // width: 18.25rem;
  width: 80%;
  // height: 11.813rem;
  background-color: var(--forthary);
  padding-top: 3%;
  padding-bottom: 10%;
  .imageBox {
    margin: 0 auto 3% auto;
    // height: 6.125rem;
    // height: 6.125rem;
    // width: 10.25rem;
    width: 80%;
    img {
      border-radius: 0.5rem;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .textContainer {
    font-size: 1rem;
  }
}

.title {
  font-weight: 600;
}
.btn {
  position: absolute;
  width: 90%;
  bottom: 2%;
}
