.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--warning);
  font-weight: 600;
  gap: 1rem;
}
.main {
  padding: 0.625rem 1.25rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--black);
  text-align: center;
}
.subTitle {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--sub-text);
}
.wrapper {
  display: flex;
  gap: 0.5rem;
}
.circle {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 100%;
  background-color: var(--light-gray);
  &.active {
    background-color: blueviolet;
  }
}
.modalComp {
  position: absolute;
  text-align: center;
  width: 90%;
  height: 30%;
  top: 30%;
  .modalContainer {
    align-items: center;
    justify-content: center;
    .text {
      font-size: 1.25rem;
      font-weight: bold;
    }
    .modalImage {
      width: 4.4rem;
      height: 4.4rem;
      margin: 0 auto 0 auto;
    }
  }
  .fixed {
    z-index: 1020;
  }
  .modalFooter {
    width: 100%;
  }
}
