.main {
  padding: 0.625rem 1.25rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--black);
  text-align: center;
}
.subTitle {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--sub-text);
}
.wrapper {
  display: flex;
  gap: 0.5rem;
}
.circle {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 100%;
  background-color: var(--light-gray);
  &.active {
    background-color: blueviolet;
  }
}
