.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.card {
  position: absolute;
  width: 17.5rem;
  height: 17.5rem;
  box-sizing: content-box;
  flex-shrink: 0;
  border-left-width: calc((100vw - 17.5rem) / 2);
  border-left-color: rgba(0, 0, 0, 0.6);
  border-right-width: calc((100vw - 17.5rem) / 2);
  border-right-color: rgba(0, 0, 0, 0.6);
  border-top-width: calc((100vh - 17.5rem) / 2);
  border-top-color: rgba(0, 0, 0, 0.6);
  border-bottom-width: calc((100vh - 17.5rem) / 2);
  border-bottom-color: rgba(0, 0, 0, 0.6);
}
.top {
  position: absolute;
  color: var(--real-white);
}
