.container {
  margin: 0;
  padding: 1.25rem;
}
.head {
  margin-top: 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.inputTag {
  padding: 1.25rem 0.25rem;
}
.labelTag {
  font-size: 1rem;
}
.btnTag {
  margin: 1rem;
  width: 100%;
}
