.container {
  margin: 0;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
}
.labelTag {
  font-size: 1rem;
  margin: 0.625rem 0 0.625rem 0;
}
// .startBtnTag {
// }
.btnTag {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
}
.btnTagnone {
  display: none;
}
.complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    padding-top: 8rem;
    padding-bottom: 3rem;
  }
  p {
    font-size: 1.5rem;
    color: var(--sub-text);
  }
  strong {
    font-size: 2.5rem;
  }
  .btnComp {
    width: 100%;
    padding-top: 3rem;
  }
}
.fundingListBox {
  padding-top: 5.5rem;
  background-color: var(--forthary);
}
.modalComp {
  position: absolute;
  text-align: center;
  width: 90%;
  height: 30%;
  top: 30%;
  .modalContainer {
    align-items: center;
    text-align: center;
    padding-top: 20%;
    p {
      font-weight: bold;
    }
  }
  .fixed {
    z-index: 1020;
  }
  .modalFooter {
    width: 100%;
  }
}
