.container {
  padding: 0.625rem 1.25rem;
}

.myBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.75rem;
  background-color: var(--forthary);
  border-radius: 0.75rem;
  margin: 1rem 0;
}

.name {
  font-size: 1rem;
  font-weight: 600;
}

.subText {
  font-size: 0.75rem;
  color: var(--sub-text);
}

.menuBox {
  display: flex;
  flex-direction: column;
}
