.KB국민카드 {
  background: linear-gradient(300deg, #ffcc00, #fcde67);
}

.신한카드 {
  background: linear-gradient(300deg, #1254e8, #4487fb);
}

.삼성카드 {
  background: linear-gradient(300deg, #2090ff, #2090ff);
}

.광주은행 {
  background: linear-gradient(300deg, #1a3180, #3652ab);
}

.수협은행 {
  background: linear-gradient(300deg, #ffcc00, #d4bc5c);
}

.NH농협카드 {
  background: linear-gradient(300deg, #006eb9, #49a6e4);
}

.BC카드 {
  background: linear-gradient(300deg, #e72e34, #e84d52);
}

.우리카드 {
  background: linear-gradient(300deg, #20c4f4, #58d3f9);
}

.롯데카드 {
  background: linear-gradient(300deg, #2c2a26, #4f4d4a);
}

.현대카드 {
  background: linear-gradient(120deg, #f3f3f3, #dcdcdc);
}

.하나카드 {
  background: linear-gradient(300deg, #148071, #2fa898);
}

.전북은행 {
  background: linear-gradient(300deg, #1a3180, #3a52a4);
}

.제주은행 {
  background: linear-gradient(300deg, #1254e8, #3e6fd9);
}

.씨티카드 {
  background: linear-gradient(300deg, #0069b4, #2686ca);
}

.이음페이 {
  background: linear-gradient(300deg, #7835f9, #c576f5);
}

.로딩 {
  background: linear-gradient(300deg, #b8b8b8, rgb(226, 226, 226));
}
