.modalComp {
  position: absolute;
  text-align: center;
  width: 90%;
  height: 30%;
  top: 30%;
  .modalContainer {
    align-items: center;
    justify-content: center;
    p {
      font-size: 1.2rem;
    }
  }
  .fixed {
    z-index: 1020;
  }
  .modalFooter {
    width: 100%;
  }
}
.policy {
  padding: 1.2rem;
}
.passwordConatiner {
  padding: 6rem 1.25rem;
  .inputWrapper {
    padding: 1.25rem 0 0 0;
  }
  .btn {
    margin-top: 1.25rem;
  }
}
