.container {
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.813rem 1.375rem;
  position: sticky;
  border-bottom: 1px solid var(--forthary);
  top: 0;
  z-index: 10;
}
