ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 0.75rem;
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  justify-content: space-around;
  padding: 0.625rem;
  background: white;
}
a {
  text-decoration: none;
  color: black;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.active {
  color: #8035f9;
}
