.cardsContainer {
  height: 50%;
  padding: 0.625rem 1.25rem;
}

.moneyContainer {
  padding: 0.625rem 1.25rem;
}

.card {
  text-align: center;
  background-color: red($color: #509092);
  border-radius: 1rem;
}
