.main {
  padding: 0.625rem 1.25rem;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  height: 50%;
  margin: 0.625rem 0;
}

.moneyContainer {
  // margin: 0.625rem 0;
}

$cardWidth: 18rem;
.card {
  width: $cardWidth;
  height: $cardWidth / 1.58;
  text-align: center;
  background-color: rgb(65, 103, 214);
  border-radius: 0.6rem;
}
