/* styles/Home.module.scss */

$cardPosition: 0;
$cardOffset: 20px;
$cardWidth: 320px;

.card {
  width: $cardWidth;
  height: 200px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: absolute;
  transform-origin: 50% 0%;
  transition: all 1s ease;
}

.cardStack {
  display: inline-block;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-($cardWidth / 2)) translateY(100px);
}

.card1 {
  z-index: 1000;
  left: $cardPosition;
}

.card2 {
  z-index: 800;
  // transform: scale(0.99);
  filter: brightness(0.9);
  top: $cardPosition - $cardOffset;
}

.card3 {
  z-index: 600;
  // transform: scale(0.98);
  filter: brightness(0.8);
  top: $cardPosition - $cardOffset * 2;
}

.card4 {
  z-index: 400;
  // transform: scale(0.97);
  filter: brightness(0.7);
  top: $cardPosition - $cardOffset * 3;
  animation-name: remove;
  animation-duration: 1s;
}

@keyframes remove {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(-80px);
    opacity: 0;
  }
  51% {
    transform: translateY(10px) scale(0.97);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) scale(0.97);
    opacity: 1;
  }
}
