.cardContainer {
  padding: 2rem 1.25rem;
}

.card-number {
  display: flex;
  width: 100%;
  input {
    min-width: 0;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    color: #000;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox  */
  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
.subtext {
  padding: 1.25rem 0 0 0;
  font-size: 0.75rem;
  text-align: center;
  color: var(--sub-text);
}
.camera {
  background-color: var(--thirdary);
  height: 2.563rem;
  width: 2.563rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-top: 2rem;
  .svg {
    width: 1.188rem;
    height: 1.188rem;
  }
}
.dateCvcContainer {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  padding: 1.25rem 0;
  .validDate {
    margin-right: 2.25rem;
  }
  .input {
    margin: 0;
    padding: 0;
    width: 5rem;
  }
}
.password {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.input {
  margin: 0;
  padding: 0;
  width: 3rem;
}
.btnCont {
  margin-top: 15rem;
  bottom: 0;
}
